.SpotDetailPage-div {
  display: grid; /* Activate grid layout */
  grid-template-areas:
    'Title'
    'Pictures'
    'Body';
  grid-template-rows: 50px 55vh 1fr; /* Define the heights of each row */
  grid-gap: 10px;
  height: 100vh; /* Set the container height to fill the viewport */
  margin: 20px 20px 20px 20px;
}

.div-title {
  grid-area: 'Title';
  align-items: center;
}

.spotTitleName{
  margin: 0 0 7px 0;
}

.spotTitlePlace {
  margin: 7px 0 0 0;
  font-size: 15px;
}


/* ---- PICTURES ---- */

.div-pictures {
  grid-area: 'Pictures';
  height: 55vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "mainImage sideImages";
}

.mainImage {
  height: 55vh;
  width: 100%;
}

.sideImage {
  height: 27.5vh;
  width: 100%;
}

.div-sideImages {
  display: grid;
  grid-area: "sideImages";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 10px;
}

.div-mainImage {
  grid-area: "pic01";
  object-fit: cover;
}

/* ---- PICTURES ---- */


.div-body {
  grid-area: 'Body';
  /* border: 1px solid black; */
}

/* ---- SPOT BODY BUTTONS ---- */

.SD-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: rgb(211, 216, 220);
  width: 150px;
  height: 30px;
  border-radius: 5px;
  padding: 0;
}

.SD-reserveButton {
  width: 100%;
  height: 35px;
  border: 2px solid black;
  background-color: rgb(211, 216, 220);
  border-radius: 5px;
  margin: 15px 0 15px 0;
  font-size: 16px;
}

/* ---- SPOT BODY BUTTONS ---- */


/* ---- SPOT BODY ---- */

.SD-host {
  margin: 0;
}

.div-upperBody {
  display: flex;
  height: min-content;
  border-bottom: 2px solid black;
}

.div-upperBodyLeft {
  width: 65%;
}

.div-upperBodyRight {
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div-SD-buttons {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.div-spotReserve {
  width: min-content;
  border: 1px solid rgb(124, 124, 124);
  box-shadow: 2px 2px 5px rgb(220, 220, 220);
  border-radius: 10px;
  padding: 15px;
  height: auto;
  margin-right: 20px;

}

.div-spotReserveTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.spotReserve {
  margin: 0;
  display: flex;
  align-items: center;
}

.SR-price {
  font-size: 20px;
  font-weight: 700;
  margin-right: 2px;
}

.div-SRT-left {
  display: flex;
}

.div-SRT-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.SD-icon {
  margin: 0 10px 0 5px;
}

.SD-subscript {
  transform: translate(0, 2px);
}

.div-lowerBodyTitle {
  display: flex;
  align-items: center;
}

.LB-Reviews {
 font-size: 20px;
}
.spotRating-divider {
  margin: 0 10px 0 0px;
  width: 2px;
  height: 20px;
  background-color: black;
}
.centered-DOT {
  font-size: 30px;
  margin: 5px;
}
.SpotDetailPage-div-reserveCalender{
  display: flex;
  justify-content: space-evenly;
  border: 2px solid rgb(171, 171, 171);
  border-radius: 5px;
}
.SpotDetailPage-div-date{
  width: 100px;
  font-size: 15px;
  height: min-content;
  text-align: start;
  font-weight: 800;
  padding: 10px;
}
.SpotDetailPage-p-date{
  font-size: 18px;
  font-weight: 400;
  margin: 5px 0 0 0;
}
/* ---- SPOT BODY ---- */


