.SDP-div {
  display: grid;
  width: 95vw;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  justify-items: center;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.SDP-div-SpotDiv {
  display: grid;
  grid-template-areas: 
    'spotImage'
    'body';
  width: 300px;
  grid-template-rows: 245px auto;
  row-gap: 5px;
  border: 1px solid black;
}

.SDP-img {
  grid-area: 'spotImage';
  width: 300px;
  height: 245px;
  object-fit: cover; /* Ensures the image covers the container without stretching */
  object-position: center; /* Center the image within the container */
}

.SDP-div-InformationBody {
  grid-area: 'body';
}

.SDA-Location {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  font-size: 14px;
  font-weight: 600;
}

.SDA-Name {
  font-size: 13px;
}

.SDA-Price {
  padding: 2px;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}

.SDA-info-p{
  margin: 0;
  display: flex;
  align-items: center;
}

.SDA-icon {
  font-size: 12px;
  margin: 5px;
  color: rgb(249, 215, 65);
}

.SDA-priceNight {
  margin-left: 1px;
  align-self: flex-end;
}

.tooltip {
  display: flex;
  position: absolute;
  background-color: rgb(55, 55, 55);
  transform: translate(100px, 15px);
  color: white;
  padding: 2px;
}

.tooltipbox {
  margin: 0;
}